.navigation {
  display: flex;
  height: 100%;
  background-color: transparent;
  width: 100%;
}

.navigation ul {
  list-style-type: none;
  display: flex;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}

.navigation ul li {
  display: block;
  height: 100%;
  padding: 0 10px;
  text-align: right;
  box-sizing: border-box;
}


.navigation ul li a {
  text-decoration: none;
  color: white;
  text-align: center;
  min-width: 50px;
  width: auto;
  font-weight: bold;
  padding: 16px 10px;
  line-height: 1.2;
  display: inline-block;
  transition: border .3s ease-in-out;
  border-bottom: 4px solid transparent;
  box-sizing: border-box;
}

.navigation ul li a:hover {
  border-bottom: 4px solid whitesmoke;
}

.flexGrow {
  flex-grow: 1;
}