.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .5s;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.modal {
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
  height: auto;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: whitesmoke;
}

.modalContainer {
  margin-top: 10%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: none;
  z-index: 500;
  transition: all .5s;
  transform: translateY(-100vh);
}

.modalContainer.active {
  transform: translateY(0);
  display: block;
}

.none {
  display: none;
}