.sidebar{
  width: 80%;
  max-width: 380px;
  background-color: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  transform: translateX(-100%);
  transition: transform .3s ease-in-out;
  z-index: 200;
  padding: 30px 20px;
}

.sidebar.active{
  transform: translateX(0);
}

.close{
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  margin-left: auto;
  overflow: visible;
}
.close span{
  display: block;
  position: absolute;
  height: 4px;
  width: 30px;
  background-color: brown;
}
.span1{
  transform: rotateZ(45deg);
}
.span2{
  transform: rotateZ(-45deg);
}